.container {
  background: #1b1b1bf5;
  width: 280px;
  padding-top: 34px;
  padding-bottom: 30px;
  border: 2px solid white;
  border-radius: 30px;
  margin: auto;
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 20px 8px rgba(85, 130, 167, 1);
  -moz-box-shadow: 0px 0px 20px 8px rgba(85, 130, 167, 1);
  box-shadow: 0px 0px 20px 8px rgba(85, 130, 167, 1);
}
.container:hover {
  transform: scale(1.1);
  transition: ease-in 0.5s;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(19, 45, 133, 1);
  -moz-box-shadow: 0px 0px 10px 4px rgba(19, 45, 133, 1);
  box-shadow: 0px 0px 10px 4px rgba(19, 45, 133, 1);
}

.container img {
  width: 180px;
  height: 240px;
  object-fit: cover;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px 6px rgba(248, 248, 248, 1);
  -moz-box-shadow: 0px 0px 10px 6px rgba(248, 248, 248, 1);
  box-shadow: 0px 0px 10px 6px rgba(248, 248, 248, 1);
}
.container:hover img {
  -webkit-box-shadow: 0px 0px 10px 6px rgb(184, 183, 246);
  -moz-box-shadow: 0px 0px 10px 6px rgba(184, 183, 246);
  box-shadow: 0px 0px 10px 6px rgb(184, 183, 246);
}

.container div {
  text-align: left;
  padding-left: 40px;
  margin-top: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

.container div span {
  font-weight: bold;
  font-size: 16px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
